<h1><%= @madlib.title %></h1>


<% if !!flash[:errors] %>
    <% flash[:errors].each do |e| %>
        <p><%= e %></p> <br>
    <% end %>
<% end %>

<div>
    <% if @success_message %>
        <h4 class="success-message"><%= @success_message %></h4>
    <% end %>
</div>


<form method="POST" action="/stories" >

    <% @madlib.inputs.each_with_index do | word, i | %>
        <label for="<%= word %>"><%= word.capitalize %>: </label>
        <input type="text" name="<%= i %>"><br>
    <% end %>

    <input type="submit" name="submit" value="Create">
</form>